# App artifacts
/_build
/deps
/tmp
/assets/node_modules
*.ez
*.beam

# crash artifacts & logs
erl_crash.dump
/assets/npm-debug.log

# Building / Deployment
/priv/static

# editor & OS artifacts
**/.DS_Store
*.code-workspace
/.vscode
/.elixir_ls
