<!DOCTYPE html>
<html lang="en">
  <head>
    <%= csrf_meta_tag() %>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="<%= gettext "A research Tool" %>">
    <meta name="author" content="Alexander Fuchsberger">
    <title>Crowd Crush</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>">
  </head>

  <body data-view="<%= view_name(@view_module, @view_template) %>">
    <%= render @view_module, @view_template, assigns %>
    <script>
      window.flash = <%= parse_flash(@conn) %>
      window.debug = <%= debug() %>;
      window.redirect = <%= redirect(@conn) %>;
      window.csrfToken = "<%= Phoenix.Controller.get_csrf_token() %>";
      window.userToken = "<%= assigns[:user_token] %>";
      window.youtubeAPIKey = "<%= youtube_api_key() %>";
    </script>
    <script src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
