// Template
@import "../../deps/phoenix_live_view/assets/css/live_view.css";
@import "./bootstrap";

@import "./icons";
@import "./layout";
// @import "simulation.css";


/* Semantic UI */

// @import "../node_modules/semantic-ui-css/components/accordion.css";
// /* @import "../node_modules/semantic-ui-css/components/ad.css"; */
// /* @import "../node_modules/semantic-ui-css/components/breadcrumb.css"; */
// @import "../node_modules/semantic-ui-css/components/button.css";
// /* @import "../node_modules/semantic-ui-css/components/card.css"; */
// /* @import "../node_modules/semantic-ui-css/components/checkbox.css"; */
// /* @import "../node_modules/semantic-ui-css/components/comment.css"; */
// @import "../node_modules/semantic-ui-css/components/container.css";
// @import "../node_modules/semantic-ui-css/components/dimmer.css";
// /* @import "../node_modules/semantic-ui-css/components/divider.css"; */
// @import "../node_modules/semantic-ui-css/components/dropdown.css";
// /* @import "../node_modules/semantic-ui-css/components/embed.css"; */
// /* @import "../node_modules/semantic-ui-css/components/feed.css"; */
// /* @import "../node_modules/semantic-ui-css/components/flag.css"; */
// @import "../node_modules/semantic-ui-css/components/form.css";
// @import "../node_modules/semantic-ui-css/components/grid.css";
// /* @import "../node_modules/semantic-ui-css/components/header.css"; */
// /* @import "../node_modules/semantic-ui-css/components/icon.css"; */
// /* @import "../node_modules/semantic-ui-css/components/image.css"; */
// @import "../node_modules/semantic-ui-css/components/input.css";
// /* @import "../node_modules/semantic-ui-css/components/item.css"; */
// @import "../node_modules/semantic-ui-css/components/label.css";
// @import "../node_modules/semantic-ui-css/components/list.css";
// @import "../node_modules/semantic-ui-css/components/loader.css";
// @import "../node_modules/semantic-ui-css/components/menu.css";
// @import "../node_modules/semantic-ui-css/components/message.css";
// /* @import "../node_modules/semantic-ui-css/components/modal.css"; */
// /* @import "../node_modules/semantic-ui-css/components/nag.css"; */
// /* @import "../node_modules/semantic-ui-css/components/placeholder.css"; */
// @import "../node_modules/semantic-ui-css/components/popup.css";
// /* @import "../node_modules/semantic-ui-css/components/progress.css"; */
// /* @import "../node_modules/semantic-ui-css/components/rail.css"; */
// /* @import "../node_modules/semantic-ui-css/components/rating.css"; */
// /* @import "../node_modules/semantic-ui-css/components/reset.css"; */
// /* @import "../node_modules/semantic-ui-css/components/reveal.css"; */
// /* @import "../node_modules/semantic-ui-css/components/search.css"; */
// /* @import "../node_modules/semantic-ui-css/components/segment.css"; */
// /* @import "../node_modules/semantic-ui-css/components/shape.css"; */
// /* @import "../node_modules/semantic-ui-css/components/sidebar.css"; */
// @import "../node_modules/semantic-ui-css/components/site.css";
// /* @import "../node_modules/semantic-ui-css/components/statistic.css"; */
// /* @import "../node_modules/semantic-ui-css/components/step.css"; */
// /* @import "../node_modules/semantic-ui-css/components/sticky.css"; */
// /* @import "../node_modules/semantic-ui-css/components/tab.css"; */
// @import "../node_modules/semantic-ui-css/components/table.css";
// @import "../node_modules/semantic-ui-css/components/transition.css";
// /* @import "../node_modules/semantic-ui-css/components/video.css"; */
