/* MENU TWEAKS  */
body { margin-top: 40px; height: auto; }

a, .pointer { cursor: pointer; }
.menu { z-index: 200;}
.menu .container div { display: flex; }

/* hide menu button on non-mobile devices */
#collapse-button { display: none; }

/* on mobile devices */
@media only screen and (max-width: 767px){

  /* hide menu items by default */
  #collapse-button ~ div { display: none; }

  /* show menu items, if menu button is active */
  #collapse-button.active ~ div { display: block; }

  /* always show menu button */
  #collapse-button {
    display: block;
    width:auto!important;
    position: absolute;
    right:0;
    z-index: 201;
  }
}

/* NOTIFICATIONS */
#flash:not(.hidden) { margin-top: -1em!important; }

@keyframes slideInFromTop {
  from {padding: 0; max-height: 0px;}
  to {padding: 1em 1.5em; max-height: 50px;}
}

.menu ~ .message{
  min-height:0;
}

.menu ~ .message.warning {
  animation-fill-mode: forwards;
  animation-duration: 1s;
  animation-name: slideInFromTop;
  overflow:hidden;
}

.ui.modal > .content.table { padding: 0; }

/* LOGIN FORM */
#login-container .column { max-width: 400px; }
